body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  padding: 0em 10em 0 10em;
  margin: 0em 10em 0 10em;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


<<<<<<< HEAD

.description {
  font-size: 1rem;

}

.user_collection_img {

border-radius: 5px;

}

#logo {

  height: 70px;
  width:  70px;
  border-radius: 10px;
  display:inline-block;
}

.user_page_bottom {
  background-color:#3ea3b9;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: -10px;
}

.bottom_links {
  margin: auto;


}

.user_page_bottom a, .user_page_bottom a:link, .user_page_bottom a:visited {

  color: white;
  text-decoration: none;
  padding: 5em;


}

 {
  text-decoration: none;

}

=======
>>>>>>> dfeea1ced239f28dcf33a55db27b5ef71bd42890
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.heading h1{
  font-family: 'Allura', cursive;
  font-weight: bold;
  color: #3da3b8;
  font-size: 6rem;
  padding: 25px 0;

}

.heading img {
  width: 250px;
}

.heading {
  justify-content: center;
  display: flex;
align-items: center;
}

nav.navbar {
  padding: 20px 0;
  border-radius: 15px;

}

.navbar a {
    font-size: 1.3rem;
}
